@{
    ViewBag.Title = " Product Review";
}

<div class="jumbotron">
    <h1>PR</h1>
    <p class="lead">Welcome to the Product Review page.  
    
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Choose in the drop-down menu to continue. 
        </p>
        
    </div>
 
</div>